/* Navbar.css */

/* Common styles for links */
a {
  text-decoration: none;
  font-size: large;
  color: black;
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

.navbar-link:hover {
  text-decoration: underline;
}

/* Container */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  margin: auto;
  width: 90%; /* Changed to a relative width for responsiveness */
  max-width: 1200px; /* Added a max-width to prevent excessive width on larger screens */
  margin-top: 50px;
}

/* Search Bar */
.searchBar {
  text-align: center;
  margin: 10px 0;
}

.searchBar > input {
  padding: 10px;
  width: 100%; /* Changed to 100% for responsiveness */
  max-width: 300px; /* Added a max-width for large screens */
}

/* Single Product Card */
.singleProduct {
  text-align: center;
}

.MuiCard-root {
  display: flex;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

div > .MuiCardMedia-root {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 194px;
  width: 150px;
}

/* Cart Box */
.cartBox {
  display: flex;
  /* object-fit: contain; This property doesn't apply to flex containers */
  width: 180px;
}

.cartImage {
  width: 150px;
}
